<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center p-4 bg-primary">Student Registration Form</h3>
        </div>
        <div class="card-body">
          <form #studentForm="ngForm" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label for="fullname">Full Name*</label>
              <input type="text" class="form-control" ngModel #fullname="ngModel" name="fullname" required
                pattern="[A-Za-z ]+$" minlength="3" maxlength="30">

              <strong class="text-danger" *ngIf="fullname.touched && fullname.hasError('required')">Fullname Is Required
                Field.</strong>

              <ng-container *ngIf="fullname.dirty">
                <strong class="text-danger" *ngIf="fullname.hasError('minlength')">
                  MinLength Of FullName Is Should Be
                  {{fullname.errors?.['minlength'].requiredLength}} And Actual Length Is
                  {{fullname.errors?.['minlength'].actualLength}}
                </strong>

                <strong class="text-danger" *ngIf="fullname.hasError('maxlength')">
                  MaxLength Of FullName Is Should Be
                  {{fullname.errors?.['maxlength'].requiredLength}} And Actual Length Is
                  {{fullname.errors?.['maxlength'].actualLength}}
                </strong>

                <strong class="text-danger" *ngIf="fullname.hasError('pattern')">
                  Plz Enter Valid FullName
                </strong>
              </ng-container>
            </div>

            <div class="form-group">
              <label for="email">Email*</label>
              <input type="text" ngModel #email="ngModel" name="email" class="form-control" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
              <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">Email Is A Required
                Field.</strong>
              <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">Enter Valid Email ID</strong>
            </div>
            <div class="form-group">
              <label for="mobilenumber">Mobile Number*</label>
              <input type="text" class="form-control" maxlength="10" #mobilenumber="ngModel" ngModel name="mobilenumber" required
                pattern="^[0-9]{10}$">

              <strong class="text-danger" *ngIf="mobilenumber.touched && mobilenumber.hasError('required')">
                Mobile Number Is Required Field.</strong>
              <strong class="text-danger" *ngIf="mobilenumber.dirty && mobilenumber.hasError('pattern')">
                Mobile Number Must Be Exactly 10 Digits
              </strong>

            </div>

            <div class="form-group">
              <label for="gender" class="mr-2">Gender*</label>
              <br>
              <input value="Male" id="male" type="radio" ngModel #gender="ngModel" name="gender" required>
              <label class="mr-3" for="male">Male</label>
              <input value="Female" id="fe" type="radio" ngModel name="gender" required>
              <label class="mr-3" for="fe">Female</label>
              <strong class="text-danger" *ngIf="gender.touched && gender.hasError('required')">
                Gender Is Required Field.
              </strong>
            </div>

            <div class="form-group">
              <label for="course">Courses*</label>
              <select type="text" ngModel #course="ngModel" name="course" required class="form-control">
                <option value="MEAN Stack">MEAN Stack Developer</option>
                <option value="MEARN Stack">MEARN Stack Developer</option>
                <option value="FullStack Java">FullStack Java Developer</option>
              </select>
              <strong class="text-danger" *ngIf="course.touched && course.hasError('required')">
                Courses Is a Required Field.
              </strong>

            </div>

            <div class="form-group">
              <label for="address">Address*</label>
              <textarea type="text" rows="4" ngModel #address="ngModel" name="address" class="form-control"
                required></textarea>
              <strong class="text-danger" *ngIf="address.touched && address.hasError('required')">
                Address Is A Required Field.
              </strong>
            </div>

            <div class="form-group">
              <label for="termscondition">
                <input type="checkbox" ngModel name="termscondition" #termscondition="ngModel" required>
                Accept Terms & Conditions</label>
              <strong class="text-danger" *ngIf="termscondition.touched && termscondition.hasError('required')">
                Terms And Condtion Is Required Field.
              </strong>
            </div>
            <button class="btn btn-block btn-primary">Register</button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>